In [25]:
import numpy as np
import pandas as pd 

df = pd.read_csv(
    r"E:\merge_loan_refund_base.csv",
    sep=";",
    parse_dates=["loanDate","dueDate", "last_refund_date"]
)
print(df.shape)
df.head

(4982106, 22)

<bound method NDFrame.head of           clientID                                loanID  loanAmount  \
0        678445768             RFS17X01T20190820160342MU      4000.0
1        650535634             RFS17X01T20190821043212MU       500.0
2        674644740             RFS17X01T20190827111048MU      5000.0
3        677186102              NA05X01T20191203092607MU     10000.0
4        678212131              NA05X01T20191206163633MU      5000.0
...            ...                                   ...         ...
4982101  670532316  CAM07X01T202509290536200343M70532316      2000.0
4982102  676688038  CAM07X01T202509290539400262M76688038      3500.0
4982103  681004692  RB011X01T202509290556440877M81004692      5000.0
4982104  653809297  CAM07X01T202509290553320179M53809297       500.0
4982105  679050512  CAM07X01T202509292354150520M79050512      9393.0

         amountwithInterest  amountPaid  dueAmount  totalDueAmount   loanDate  \
0                    4300.0      4200.0        0.0             0.0 2019-08-20
1                     538.0       525.0        0.0             0.0 2019-08-21
2                    5375.0      5375.0        0.0             0.0 2019-08-27
3                   11500.0     11500.0        0.0             0.0 2019-12-03
4                    5375.0      5779.0        0.0             0.0 2019-12-06
...                     ...         ...        ...             ...        ...
4982101              2150.0         0.0     2150.0          2150.0 2025-09-29
4982102              3763.0         0.0     3763.0          3763.0 2025-09-29
4982103              5375.0         0.0     5375.0          5375.0 2025-09-29
4982104               538.0         0.0      538.0           538.0 2025-09-29
4982105             10098.0         0.0    10098.0         10098.0 2025-09-29

           dueDate carryoverDate  ...  is_complete isCarryover  isReconducted  \
0       2019-09-04    19/09/2019  ...         True       False          False
1       2019-09-05    20/09/2019  ...         True       False          False
2       2019-09-11    26/09/2019  ...         True       False          False
3       2020-01-02    02/01/2020  ...         True       False          False
4       2019-12-21    05/01/2020  ...         True       False          False
...            ...           ...  ...          ...         ...            ...
4982101 2025-10-14    29/10/2025  ...        False       False          False
4982102 2025-10-14    29/10/2025  ...        False       False          False
4982103 2025-10-14    29/10/2025  ...        False       False          False
4982104 2025-10-14    29/10/2025  ...        False       False          False
4982105 2025-10-14    29/10/2025  ...        False       False          False

         isPenalty       penaltyDate  penaltyAmount penaltyBalance  \
0            False               NaN         5000.0            0.0
1            False               NaN         5000.0            0.0
2            False               NaN         5000.0            0.0
3            False               NaN         5000.0            0.0
4            False               NaN         5000.0            0.0
...            ...               ...            ...            ...
4982101      False  28/11/2025 23:00         5000.0            0.0
4982102      False  28/11/2025 23:00         5000.0            0.0
4982103      False  28/11/2025 23:00         5000.0            0.0
4982104      False  28/11/2025 23:00         5000.0            0.0
4982105      False  29/11/2025 23:00         5000.0            0.0

                 dateTime  last_refund_date payment_delta_days
0        20/08/2019 16:03        2019-08-21               14.0
1        21/08/2019 04:32        2019-08-21               15.0
2        27/08/2019 11:10        2019-09-09                2.0
3        03/12/2019 09:26        2020-06-05             -155.0
4        06/12/2019 16:36        2021-02-01             -408.0
...                   ...               ...                ...
4982101  29/09/2025 05:37               NaT                NaN
4982102  29/09/2025 05:40               NaT                NaN
4982103  29/09/2025 05:57               NaT                NaN
4982104  29/09/2025 05:54               NaT                NaN
4982105  29/09/2025 23:59               NaT                NaN

[4982106 rows x 22 columns]>

In [17]:
cols = [
    "clientID",
    "loanID",
    "loanDate",
    "dueDate",
    "last_refund_date",
    "payment_delta_days"
]

df = df[cols]
df.head()

,clientID,loanID,loanDate,dueDate,last_refund_date,payment_delta_days
0,678445768,RFS17X01T20190820160342MU,2019-08-20,2019-09-04,2019-08-21,14.0
1,650535634,RFS17X01T20190821043212MU,2019-08-21,2019-09-05,2019-08-21,15.0
2,674644740,RFS17X01T20190827111048MU,2019-08-27,2019-09-11,2019-09-09,2.0
3,677186102,NA05X01T20191203092607MU,2019-12-03,2020-01-02,2020-06-05,-155.0
4,678212131,NA05X01T20191206163633MU,2019-12-06,2019-12-21,2021-02-01,-408.0

In [18]:
df_paid = df.dropna(subset=["payment_delta_days"])
print(df_paid.shape)
df_paid.head()

(729125, 6)

,clientID,loanID,loanDate,dueDate,last_refund_date,payment_delta_days
0,678445768,RFS17X01T20190820160342MU,2019-08-20,2019-09-04,2019-08-21,14.0
1,650535634,RFS17X01T20190821043212MU,2019-08-21,2019-09-05,2019-08-21,15.0
2,674644740,RFS17X01T20190827111048MU,2019-08-27,2019-09-11,2019-09-09,2.0
3,677186102,NA05X01T20191203092607MU,2019-12-03,2020-01-02,2020-06-05,-155.0
4,678212131,NA05X01T20191206163633MU,2019-12-06,2019-12-21,2021-02-01,-408.0

In [19]:
df_paid = df_paid.sort_values(
    by=["clientID", "last_refund_date"],
    ascending=[True, False]
)

df_paid.head(10)

,clientID,loanID,loanDate,dueDate,last_refund_date,payment_delta_days
1873021,650000024,CAM07X01T20220422043548MU,2022-04-22,2022-05-07,2022-05-08,-1.0
2846114,650000153,CAM07X01T20220906122421MU,2022-09-06,2022-09-21,2023-01-29,-130.0
980900,650000191,CAM07X01T20220920134228MU,2022-09-20,2022-10-20,2022-10-16,4.0
2197453,650000191,CAM07X01T20220707085513MPU,2022-07-07,2022-08-06,2022-08-08,-2.0
3178859,650000252,CAM07X01T20230117093149MU,2023-01-17,2023-02-01,2023-04-23,-81.0
3208129,650000268,CAM07X01T20230309153023MU,2023-03-09,2023-03-24,2023-04-13,-20.0
1267464,650000316,CAM07X01T20220602125438MPU,2022-06-02,2022-07-02,2022-07-18,-16.0
2525321,650000338,CAM07X01T20221104115211MU,2022-11-04,2022-11-19,2023-03-15,-116.0
377265,650000358,RB011X01T20230117090413MU,2023-01-17,2023-02-01,2023-04-14,-72.0
3739627,650000358,CAM07X01T20220416083759MU,2022-04-16,2022-05-01,2022-08-02,-93.0

In [20]:
df_paid["repay_rank"] = df_paid.groupby("clientID").cumcount() + 1
df_paid.head(10)

,clientID,loanID,loanDate,dueDate,last_refund_date,payment_delta_days,repay_rank
1873021,650000024,CAM07X01T20220422043548MU,2022-04-22,2022-05-07,2022-05-08,-1.0,1
2846114,650000153,CAM07X01T20220906122421MU,2022-09-06,2022-09-21,2023-01-29,-130.0,1
980900,650000191,CAM07X01T20220920134228MU,2022-09-20,2022-10-20,2022-10-16,4.0,1
2197453,650000191,CAM07X01T20220707085513MPU,2022-07-07,2022-08-06,2022-08-08,-2.0,2
3178859,650000252,CAM07X01T20230117093149MU,2023-01-17,2023-02-01,2023-04-23,-81.0,1
3208129,650000268,CAM07X01T20230309153023MU,2023-03-09,2023-03-24,2023-04-13,-20.0,1
1267464,650000316,CAM07X01T20220602125438MPU,2022-06-02,2022-07-02,2022-07-18,-16.0,1
2525321,650000338,CAM07X01T20221104115211MU,2022-11-04,2022-11-19,2023-03-15,-116.0,1
377265,650000358,RB011X01T20230117090413MU,2023-01-17,2023-02-01,2023-04-14,-72.0,1
3739627,650000358,CAM07X01T20220416083759MU,2022-04-16,2022-05-01,2022-08-02,-93.0,2

In [21]:
last_loans = df_paid[df_paid["repay_rank"] <= 3].copy()
last_loans.head(10)

,clientID,loanID,loanDate,dueDate,last_refund_date,payment_delta_days,repay_rank
1873021,650000024,CAM07X01T20220422043548MU,2022-04-22,2022-05-07,2022-05-08,-1.0,1
2846114,650000153,CAM07X01T20220906122421MU,2022-09-06,2022-09-21,2023-01-29,-130.0,1
980900,650000191,CAM07X01T20220920134228MU,2022-09-20,2022-10-20,2022-10-16,4.0,1
2197453,650000191,CAM07X01T20220707085513MPU,2022-07-07,2022-08-06,2022-08-08,-2.0,2
3178859,650000252,CAM07X01T20230117093149MU,2023-01-17,2023-02-01,2023-04-23,-81.0,1
3208129,650000268,CAM07X01T20230309153023MU,2023-03-09,2023-03-24,2023-04-13,-20.0,1
1267464,650000316,CAM07X01T20220602125438MPU,2022-06-02,2022-07-02,2022-07-18,-16.0,1
2525321,650000338,CAM07X01T20221104115211MU,2022-11-04,2022-11-19,2023-03-15,-116.0,1
377265,650000358,RB011X01T20230117090413MU,2023-01-17,2023-02-01,2023-04-14,-72.0,1
3739627,650000358,CAM07X01T20220416083759MU,2022-04-16,2022-05-01,2022-08-02,-93.0,2

In [22]:
loan_counts = last_loans.groupby("clientID")["repay_rank"].max()

def compute_weight(row):
    n = loan_counts[row["clientID"]]
    if n == 1:
        return 1.0
    elif n == 2:
        return 0.6 if row["repay_rank"] == 1 else 0.4
    else:  # n == 3
        return {1: 0.5, 2: 0.3, 3: 0.2}[row["repay_rank"]]

last_loans["weight"] = last_loans.apply(compute_weight, axis=1)
last_loans.head(10)

,clientID,loanID,loanDate,dueDate,last_refund_date,payment_delta_days,repay_rank,weight
1873021,650000024,CAM07X01T20220422043548MU,2022-04-22,2022-05-07,2022-05-08,-1.0,1,1.0
2846114,650000153,CAM07X01T20220906122421MU,2022-09-06,2022-09-21,2023-01-29,-130.0,1,1.0
980900,650000191,CAM07X01T20220920134228MU,2022-09-20,2022-10-20,2022-10-16,4.0,1,0.6
2197453,650000191,CAM07X01T20220707085513MPU,2022-07-07,2022-08-06,2022-08-08,-2.0,2,0.4
3178859,650000252,CAM07X01T20230117093149MU,2023-01-17,2023-02-01,2023-04-23,-81.0,1,1.0
3208129,650000268,CAM07X01T20230309153023MU,2023-03-09,2023-03-24,2023-04-13,-20.0,1,1.0
1267464,650000316,CAM07X01T20220602125438MPU,2022-06-02,2022-07-02,2022-07-18,-16.0,1,1.0
2525321,650000338,CAM07X01T20221104115211MU,2022-11-04,2022-11-19,2023-03-15,-116.0,1,1.0
377265,650000358,RB011X01T20230117090413MU,2023-01-17,2023-02-01,2023-04-14,-72.0,1,0.6
3739627,650000358,CAM07X01T20220416083759MU,2022-04-16,2022-05-01,2022-08-02,-93.0,2,0.4

In [23]:
last_loans["weighted_delta"] = (
    last_loans["payment_delta_days"] * last_loans["weight"]
)

last_loans[[
    "clientID",
    "repay_rank",
    "payment_delta_days",
    "weight",
    "weighted_delta"
]].head(10)

          clientID  repay_rank  payment_delta_days  weight  weighted_delta
1873021  650000024           1                -1.0     1.0            -1.0
2846114  650000153           1              -130.0     1.0          -130.0
980900   650000191           1                 4.0     0.6             2.4
2197453  650000191           2                -2.0     0.4            -0.8
3178859  650000252           1               -81.0     1.0           -81.0
3208129  650000268           1               -20.0     1.0           -20.0
1267464  650000316           1               -16.0     1.0           -16.0
2525321  650000338           1              -116.0     1.0          -116.0
377265   650000358           1               -72.0     0.6           -43.2
3739627  650000358           2               -93.0     0.4           -37.2

In [24]:
behavior_score = (
    last_loans
    .groupby("clientID")["weighted_delta"]
    .sum()
    .reset_index(name="behavior_score_raw")
)

behavior_score.head(10)

    clientID  behavior_score_raw
0  650000024                -1.0
1  650000153              -130.0
2  650000191                 1.6
3  650000252               -81.0
4  650000268               -20.0
5  650000316               -16.0
6  650000338              -116.0
7  650000358               -80.4
8  650000359              -325.0
9  650000377               -35.0

In [26]:
behavior_score.to_csv(
    r"E:\behavior_score_raw.csv",
    index=False,
    sep=";"
)

print("Raw behavior score saved")

Raw behavior score saved